# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
**/.classpath
**/.project
**/.settings/
**/.factorypath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.lock

# system ignore
.DS_Store
Thumbs.db

**/dubboregistry/

disconf